<div class="message-container"></div>

<div class="content-container">

  <h3>Minnpost Minimum Wage Map</h3>

  {{#noData}}
    {{>loading}}
  {{/noData}}

  <div class="minimum-wage-map-container"></div>

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Some code, techniques, and data on <a href="https://github.com/zzolo/minnpost-minimum-wage-map" target="_blank">Github</a>.</p>

  </div>
</div>
